services:
  mysql:
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: kunden_db
      MYSQL_USER: app
      MYSQL_PASSWORD: app
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3307:3306"
    volumes:
      - mysqldata:/var/lib/mysql

  backend:
    build: ./cli/backend
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/kunden_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
      SPRING_DATASOURCE_USERNAME: app
      SPRING_DATASOURCE_PASSWORD: app
    ports:
      - "8090:8090"
    depends_on:
      - mysql

  frontend:
    build: ./frontendapp
    ports:
      - "4200:80"
    depends_on:
      - backend

volumes:
  mysqldata:
